{% extends 'base.html' %}

{% block content %}
    <h2>书籍信息</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>书名</th>
                <th>作者</th>
                <th>价格 (￥)</th>
                <th>库存量</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

